<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>JumpStart Squared</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://emn178.github.io/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
</head>

<body>
    <div class="ticker-wrapper-v">
        <div class="heading">CSH Events</div>
        <ul class="news-ticker-v" id="calendar"></ul>
    </div>

    <div class="ticker-wrapper-h" id="quotes_ticker"></div>

    <script type="text/javascript">
        function longUpdate() {
            fetch('/calendar', {
                method: 'GET',
                mode: 'cors',
                dataType: 'json'
            })
                .then(r => r.json())
                .then(r => {
                    document.getElementById("calendar").innerHTML = r.data
                })
        }

        function quoteUpdate() {
            fetch('/quotedatabase')
                .then((r) => { return r.text(); })
                .then(r => {
                    document.getElementById("quotes_ticker").innerHTML = r;
                })
        }

        function pulldateTime() {
            const d = new Date()

            if (document.getElementById("datetime")) {
                document.getElementById("datetime").innerHTML = d.toISOString().slice(0, 10) + " " + d.toLocaleTimeString()
            }
        }

        longUpdate();
        quoteUpdate();
        pulldateTime();

        // Date background changes
        setInterval(function () {
            longUpdate();
        }, 75000);

        setInterval(function () {
            quoteUpdate();
        }, 600000);

        setInterval(function () {
            pulldateTime();
        }, 1000);
    </script>

    
    <script>
        var pattern = ['ArrowUp', 'ArrowUp', 'ArrowDown', 'ArrowDown', 'ArrowLeft', 'ArrowRight', 'ArrowLeft', 'ArrowRight', 'b', 'a'];
        var current = 0;

        var keyHandler = function (event) {

            // If the key isn't in the pattern, or isn't the current key in the pattern, reset
            if (pattern.indexOf(event.key) < 0 || event.key !== pattern[current]) {
                current = 0;
                return;
            }

            // Update how much of the pattern is complete
            current++;

            // If complete, alert and reset
            if (pattern.length === current) {
                current = 0;
                window.alert('You found it!');
            }

        };

        // Listen for keydown events
        document.addEventListener('keydown', keyHandler, false);
    </script>
</body>

</html>